* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
  }

  .center {
    padding-left: calc(50% - 1160px / 2);
    padding-right: calc(50% - 1160px / 2);
  }
  
  .top {
    padding-top: 91px;
    padding-bottom: 94px;
    background-color: #7bbcf9;
  }

  .title {
    color: #7bbcf9;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 84.5px */
  }
  
  .top__text {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 33.8px */
  }

  .top__title {
    margin-top: 101px;
    font-family: "Lato", sans-serif;
    color: #fff;
  }
  
  .choice {
    padding-top: 111px;
    padding-bottom: 95px;
  }
  
  .choice__title {
    margin-bottom: 141px;
    font-family: "Lato", sans-serif;
    width: 760px;
  }

  .step {
    padding-bottom: 47px;
  }

  .step_not-bottom {
    padding-bottom: 0;
  }
  
  .step__title {
    color: #7bbcf9;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 60px */
  }
  
  .step__sub-title {
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 39px */
    margin-bottom: 17px;
    width: 460px;
  }
  
  .step__text {
    width: 560px;
  }
  
  .feel {
    padding-bottom: 154px;
  }
  
  .feel__title {
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 84.5px */
    margin-bottom: 102px;
    width: 1112px;
  }
  
  .feel__text {
    width: 456px;
  }
  
  .text {
    color: #676767;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  
  @media (max-width: 768px) {

    .top {
      padding-top: 61px;
      padding-bottom: 64px;
    }

    .top__title {
      margin-top: 71px;
    }

    .title {
      font-size: 36px;
    }

    .text {
      font-size: 16px;
    }

    .top__text {
      font-size: 18px;
    }

    .choice {
      padding-top: 61px;
      padding-bottom: 91px;
    }

    .choice__title {
      margin-bottom: 91px;
      width: 500px;
    }

    .feel {
      padding-bottom: 44px;
    }

    .feel__title {
      width: 500px;
      margin-bottom: 61px;
    }

    .step__title {
      font-size: 20px;  
    }

    .step__sub-title {
      font-size: 18px;
    }

    .center {
      padding-left: calc(50% - 500px / 2);
      padding-right: calc(50% - 500px / 2);
    }


  }

  @media (max-width: 375px) {

    .top {
      padding-top: 31px;
      padding-bottom: 34px;
    }

    .top__title {
      margin-top: 31px;
    }

    .title {
      font-size: 20px;
    } 

    .text {
      font-size: 12px;  
    }

    .top__text {
      font-size: 14px;
    }

    .choice {
      padding-top: 31px;
      padding-bottom: 61px;
    }

    .choice__title {
      margin-bottom: 61px;
    }

    .feel {
      padding-bottom: 44px;
    }

    .feel__title {
      margin-bottom: 32px;
    }

    .step__title {
      font-size: 16px;  
    }

    .step__sub-title {
      font-size: 14px;
    }

    .choice__title, .step__sub-title, .step__text, .feel__title, .feel__text {
      width: 100%;
    }

    .center {
      padding-left: 16px;
      padding-right: 16px;
    }
  }